/* Importing Fira Sans and Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defining the :root variables */
:root {
    /* Defining Color Scheme as variables for easy use. */
    --primary-color: #3E000C;
    --secondary-color: #3A4F41;
    --accent1-color: #F2F2F2;
    --accent2-color: #BA5C12;
    --text-color: #F2F2F2;
    
    /* Defining imported fonts as variables for easy use. */
    --heading-font: "Poppins", Helvetica, sans-serif;
    --paragraph-font: "Fira Sans", Helvetica, sans-serif;
}

*, *::before, *::after {
    overflow-x: hidden;
}

/* body styles */
body {
    background-color: var(--accent1-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    background-color: rgba(58, 79, 65, .8);
    display: grid;
    grid-template-columns: 150px auto;
}

/* #logo_link styles */
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* .logo styles */
.logo {
    width: 80px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* nav a styles */
nav a {
    font-family: var(--paragraph-font);
    font-size: 1.22em;
    height: 100%;
    flex-grow: 1;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    color: var(--accent1-color);
}

/* nav a and hover styling */
nav a {
    transition: background-color 0.2s ease-out; /* Use ease-out for the default state */
}

nav a:hover {
    
    background-color: rgba(68, 94, 77, 0.5);
    transition: background-color 0.2s ease-in;
}

/* Tell the site that it needs to tranistion back to its og state. */
nav a:hover::after {
    background-color: rgba(58, 79, 65, 0.8);
    transition: background-color 0.5s ease-in;
}


/* All header styles */
h1, h2, h3, h4, h5, h6 {  
    /* Making them all match the siteplan with a primary color color and a font of Poppins */
    color: var(--primary-color);
    font-family: var(--heading-font);
}

/* #content styles (main div wrapping the entire body of the website) */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    font-style: italic;
}

#main-hero {
    display: flex;
    align-items: center;
    background-image: url(../images/aboutus/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 576px;
}

#hero-info-box {
    background-color: var(--primary-color);
    width: 55%;
    height: 55%;
    margin: 0 auto;
}

#hero-title {
    padding-top: .3em;
    text-align: center;
    color: var(--accent1-color);
    margin-bottom: 0;
}

#hero-p {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0;
    padding: 5%;
}

#team-title {
    text-align: center;
    color: #F2F2F2;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 27px;

}

#team-in-grid {
    display: grid;
    grid-template-columns: repeat(2, .6fr);
    justify-items: center;
    background-color: var(--secondary-color);
}

#small-only {
    display: none;
}

#team-out-grid {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 19%;
    margin-top: -220px;
}



.member-box {
    background-color: var(--accent1-color);
    border: 4px var(--accent2-color) solid;
    margin: 6%;
    padding: 10%;
    text-align: center;
    color: black;
    font-family: var(--paragraph-font);
}

.circle-img {
    border-radius: 100%;
    width: 150px;
    height: 150px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    outline: 2px solid #af7427;
}

.name {
    margin-top: px;
    color: black;
}

.job {
    font-family: var(--paragraph-font);
}

.description {
    padding-top: -30px;
}


.team-icons-list {
    list-style-type: none;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}

.team-icon {
    display: inline-block;
    padding: 6%;
}

.team-icon:hover {
    text-decoration: underline;   
}

.phone-icon img:hover {
    content: url(../images/aboutus/team-images/team-icons/hover-phone.png);
    width: 35px;
    height: 35px;
}

.mail-icon img:hover {
    content: url(../images/aboutus/team-images/team-icons/hover-mail.png);
    width: 48.9px; 
    height: 35px;
}

.facebook-icon img:hover {
    content: url(../images/aboutus/team-images/team-icons/hover-facebook.png);
    width: 19.082px;
    height: 35px;
}

.phone-icon img:visited {
    content: url(../images/aboutus/team-images/team-icons/visited-phone.png);
    width: 35px;
    height: 35px;
}

.mail-icon img:visited {
    content: url(../images/aboutus/team-images/team-icons/visited-mail.png);
    width: 48.9px; 
    height: 35px;
}

.facebook-icon img:visited {
    content: url(../images/aboutus/team-images/team-icons/visited-facebook.png);
    width: 19.082px;
    height: 35px;
}


@media screen and (max-width: 1050px) {
    #team-in-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        background-color: var(--secondary-color);
    }

    #team-out-grid {
        display: none;
    }

    #small-only {
        display: initial;
    }
    
}

@media screen and (max-width: 768px) {
    #hero-info-box {
        width: 63%;
        height: 63%;
        font-size: 24px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 5% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}


@media screen and (max-width: 594px) {
    #hero-info-box {
        width: 73%;
        height: 73%;
        font-size: 27px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 4% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}


@media screen and (max-width: 480px) {
    #hero-info-box {
        width: 73%;
        height: 73%;
        font-size: 26px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 5% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}

@media screen and (max-width: 445px) {
    #hero-info-box {
        width: 73%;
        height: 73%;
        font-size: 25px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 5% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}

@media screen and (max-width: 425px) {
    #hero-info-box {
        width: 73%;
        height: 73%;
        font-size: 24.7px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 5% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}

@media screen and (max-width: 320px) {
    #hero-info-box {
        width: 73%;
        height: 73%;
        font-size: 22px;
        overflow: hidden;
    }
    #hero-p {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        text-align: center;
        margin: 8% 0 25% 0;
        padding: 5%;
        width: 90%;

    }
}



/* footer styles */
footer {
    background-color: rgb(58, 79, 65);;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer a styles */
footer a {
    margin-top: 200px;
    color: var(--accent1-color);
    text-decoration: none;
}

/* footer a:hover styles */
footer a:hover {
    color: var(--accent1-color)
}

/* footer p styles */
footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

/* footer p a:hover styles */
footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header {
        background-color: var(--secondary-color);  
    }
    nav, footer {
        flex-direction: column;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    /* nav a styles */
    nav a {
        font-size: 1.16em;
        height: 100%;
        width: 100%;
        display: flex; 
        align-items: center; 
        justify-content: center;
        padding: 15px;
        flex-grow: 1;
    }

    footer {
        margin-top: 25px;
    }
}