/* Initially show only elements with .invisible-p class */


/* Defining CSS variables for universal use */
:root {
    --h1-font-size: 18px;
    --h3-font-size: 16px;
    --p-font-size: 14px;
    --blue: #95bbcf;
    --dark-blue: #628395;
    --table-blue: #bcd6e4;
    --notice-blue: #0c6ae6;
    
}

/* Making everything line up to the very edge of the page */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Giving header a background color */

header {
    background-color: var(--dark-blue);
    margin: 1rem 1rem 0rem 1rem;
}

/* h1 Style to the middle of the screen and more appealing */
h1.main-title {
    text-align: center;
    font-size: var(--h1-font-size);
    padding: .7rem;
    color: black;
}


/* Giving space on the left and right of the table header paragraphs.  */
.table-header {
    padding: .2rem;
    background-color: var(--blue);
    margin: 0 2rem 0 2rem
}

/* Aligning the table content with the rest of the table */

/* Container for the two side-by-side divs */
.table-container {
    display: flex;
    margin: 0 -1rem; /* Negative margin to counteract the margins for the inner divs */
}

/* Left div taking 50% of the screen width with 1rem left margin */
.left-div {
    flex: 1; /* Takes up 50% of the available space */
    margin-left: 2rem; /* 1rem left margin */
    background-color: var(--blue);
    padding: 0;
    text-align: center;
}

/* Right div taking 50% of the screen width with 1rem right margin */
.right-div {
    flex: 1; /* Takes up 50% of the available space */
    margin-right: 2rem; /* 1rem right margin */
    background-color: var(--blue);
    padding: 0;
    text-align: center;
}

/* Styling each table cell as a table cell  */
.table-content {
    padding: .2rem;
    font-size: var(--p-font-size);
    background-color: white;
    border: .3px solid black;
    
}

/* Making the table title look like the table content */
/* Container for the two side-by-side divs */

.table-title-container {
    display: flex;
    margin: 0 1rem;
    background-color: var(--blue);
}

/* Left div taking 50% of the screen width with 1rem left margin */
.left-title {
    flex: 1; /* Takes up 50% of the available space */
    margin: 0 2rem 0 2rem; 
    background-color: var(--blue);
    padding: 0;
    text-align: center;
}

/* Right div taking 50% of the screen width with 1rem right margin */
.right-title {
    flex: 1; /* Takes up 50% of the available space */
    margin: 0 2rem 0 2rem; 
    padding: 0;
    text-align: center;
}

.table-title-text {
    font-size: var(--p-font-size);
    text-align: center;
}

.blue {
    background-color: var(--table-blue);
}

a:link {
    text-decoration: none;
    color: rgb(60, 94, 206);
}

a:visited {
    color: purple;
    text-decoration: double;
}

a:hover {
    color: #197569;
    text-decoration: underline;
    transition: .1s ease-in;

}

p.footer-p {
    margin: .2rem 0 0 1rem;
    font-size: var(--p-font-size);
    color: var(--notice-blue);
}

.invisible-p, .invisible-h3 {
    display: none;
}

/* Show .invisible-p when screen width is 350px or below */
@media screen and (max-width: 350px) {
    header, main, footer p.footer-p {
        display: none;
    }
    
    .invisible-h3 {
        display: block;
        padding-top: .5em;
        margin: .4em;
        font-size: var(--h3-font-size);
        font-weight: 600;
        color: var(--notice-blue);
        text-align: center;
    }
    
    .invisible-p {
        display: block;
        margin: .8em;
        font-size: var(--p-font-size);
        font-weight: 500;
        color: var(--notice-blue);
        text-align: center;
    }
    
}