* {
    overflow: hidden;
}
body {
    background-color: #fca6c9ff;

}

body, h1:hover {
    color: black;
}

.header-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.header-h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    
}

.divheader-p {
margin: 0 auto;
width: 80%;
color: white;
font-size: 12px;
}

.header-p {
    text-align: center;
}
.center-list {
    width: 40%;
    margin: 0 auto;
}
ol {
    list-style:decimal;
}
.list {
    margin: 1em;
    font-size: 13px;
    font-weight: 799;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: -.3px;
}

.ol-li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .5em;
}

.img_div {
    margin: 0 auto;
    text-align: center;
}

.prophet-image {
    width: 17%;
    height: auto;
}

.quotediv {
    width: 35%;
    margin: 0 auto;
    height: 60%;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 0;
}


footer p {
    margin: 0em 1em 1em 1em;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;

}

