.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: 5px solid green;
}

.grid-child {

}

.tart {
    grid-column: 1/3;
    text-align: center;
}

.cherry {
    background-color: lightgray;
    max-width: 100%;
    grid-column: 2/3;
    text-align: center;
    grid-row: 2/5;
    height: 100%;
}

.filler {
    background-color: lightgray;
    max-width: 100%;
    grid-column: 2/3;
    text-align: center;
    grid-row: 8/5;
    height: 100%;
}

.cherries {
    max-width: 50%;
    grid-column: 1/3;
}