*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div.img-header-div {
    height: 60%;
}

.img-div {
    background-image: url(images/w05_circles.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: -250px;
    min-width: 100%;
    height: 200px;
    
}

.main-title {
    text-align: right;
    padding: 1em .8em 1em 1em;
    color: rgb(52, 52, 52);
    font-size: 38px;
}

.main-paragraph {
    text-align: right;
    padding: .5em .8em .5em .5em;
    font-size: 25px;
}

.main-div {
    background-color: gray;
    text-align: center;
    padding: 3em;

}

.main-images {
    width: 25%;
    height: 20%;
    margin: 1% 2% 0 2%;
    padding: 0;
    border: .6em solid rgb(66, 62, 62);
    border-radius: 9999px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    min-width: 75px;

}