*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

div.img-header-div {
    height: 60%;
}

.header-image {
    width: 100%;

}

.main-div {
    background-color: gray;
    text-align: center;
    padding: 3em;

}

.main-images {
    width: 25%;
    height: 20%;
    margin: 1% 2% 0 2%;
    padding: 0;
    border: .6em solid rgb(66, 62, 62);
    border-radius: 9999px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    min-width: 75px;

}