body {
    background-color: black;
}
.card {
    width: 250px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
}
.headerimage {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
}
.awesomearticle {
    padding: 10%;
    text-align: center;
}